body {
    background: #3a3a3a;
}

.stack {
    width: 816px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) ;
}

.title {
    font-size: 28px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px;
    bottom: 60px;
    font-family: 'Caveat', cursive;
}
.photo img {
    object-fit: cover;
}
.photo {
    width: 354px;
    height: 434px;
}

.photo:hover {
    cursor: pointer;
}