body {
    background: #3a3a3a;
}

.stack {
    width: 816px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) ;
}

.title {
    font-size: 28px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px;
    bottom: 60px;
    font-family: 'Caveat', cursive;
    opacity: 0;
    transition: opacity 0.5s;
}

.selected {
    opacity: 1;
}

.photo img {
    object-fit: cover;
}
.photo {
    width: 354px;
    height: 434px;
    transition: rotate 0.5s, scale 0.5s;
}

.photo:hover {
    cursor: pointer;
}